<div *ngIf="!sprint">
	<h2>Loading…</h2>
</div>

<div *ngIf="sprint && project && user">
	<h2>Sprint on {{ project.name }}</h2>
	<p><a routerLink="/u/{{ user.username }}/{{ project.slug }}/">back to project</a></p>
	
	<div *ngIf="sprint.upcoming">
		<h3 class="center-text">Upcoming, will start in:</h3>
		<time class="timer upcoming-sprint-timer">{{ sprint.prettyUntilStart }}</time>
	</div>
	
	<div *ngIf="sprint.running">
		<h3 class="center-text">Running, time left:</h3>
		<time class="timer running-sprint-timer">{{ sprint.prettyUntilEnd }}</time>
	</div>
	
	<div *ngIf="sprint.over">
		Over since <time>{{ sprint.prettyTimeEnd }}</time>
	</div>
</div>
