<header id="top">
	<h1>
		<a routerLink="/">
			<div class="header-center">
				<i>&#10086;</i> {{ title }}
			</div>
		</a>
	</h1>
	<nav>
		<div class="header-center">
			<ul>
				<li>
					<a routerLink="/">Feed</a>
				</li>
				<li>
					<a routerLink="/users">List of users</a>
				</li>

				<li *ngIf="currentUser" class="right">
					<a (click)="logout()">Logout</a>
				</li>
				<li *ngIf="currentUser" class="right">
					<a routerLink="/u/{{ currentUser.username }}" class="accent-bg">{{ currentUser.username }}</a>
				</li>

				<li *ngIf="!currentUser" class="right">
					<a routerLink="/login">Login</a>
				</li>
				<li *ngIf="!currentUser" class="right">
					<a routerLink="/register" class="accent-bg">Register</a>
				</li>
				<div class="clear-right"></div>
			</ul>
		</div>
	</nav>
</header>

<section>
	<div class="right"><app-notifications></app-notifications></div>
	<router-outlet></router-outlet>
	<div class="clear-right"></div>
</section>

<footer>
	<p>
		<a routerLink="/about">About</a>
	</p>
</footer>
