<header id="top">
	<h1>
		<a routerLink="/">
			<div class="header-center">
				<i>&#10086;</i> {{ title }}
			</div>
		</a>
	</h1>
	<nav>
		<div class="header-center">
			<ul>
				<li>
					<a routerLink="/feed">Feed</a>
				</li>
				<li>
					<a routerLink="/users">Users</a>
				</li>
				
				<span *ngIf="currentUser">
					<li>
						<a routerLink="/new">New project</a>
					</li>
					<li class="right">
						<a (click)="logout()">Logout</a>
					</li>
					<li class="right">
						<a routerLink="/u/{{ currentUser.username }}" class="accent-bg">{{ currentUser.username }}</a>
					</li>
				</span>

				<span *ngIf="!currentUser">
					<li class="right">
						<a routerLink="/login">Login</a>
					</li>
					<li class="right">
						<a routerLink="/register" class="accent-bg">Register</a>
					</li>
				</span>
				<div class="clear-right"></div>
			</ul>
		</div>
	</nav>
</header>

<section>
	<app-notifications></app-notifications>
	<router-outlet></router-outlet>
	<div class="clear-right"></div>
</section>

<footer>
	<p>
		<a routerLink="/about">About</a>
	</p>
</footer>
