<header id="top">
	<h1>
		<a routerLink="/">
			<div class="header-center">
				<i>&#10086;</i> {{ title }}
			</div>
		</a>
	</h1>
	<nav>
		<div class="header-center">
			<ul>
				<li>
					<a routerLink="/">Feed</a>
				</li>
				<li>
					<a routerLink="/users">List of users</a>
				</li>
				<li *ngIf="currentUser">
					<a routerLink="/u/{{ currentUser.username }}">Me: {{ currentUser.username }}</a>
				</li>

				<li class="right" *ngIf="currentUser">
					<a (click)="logout()">Logout</a>
				</li>
				<li class="right" *ngIf="!currentUser">
					<a routerLink="/login">Login</a>
				</li>
				<div class="clear-right"></div>
			</ul>
		</div>
	</nav>
</header>

<section>
	<div class="right"><app-notifications></app-notifications></div>
	<router-outlet></router-outlet>
	<div class="clear-right"></div>
</section>

<footer>
	<p>
		<a href="/fr">
			<img src="/assets/flag_fr.png" alt="FR"/>
		</a>
		&nbsp;
		<a href="/en">
			<img src="/assets/flag_en.png" alt="EN"/>
		</a>
		&nbsp;
		<a routerLink="#top">top</a>
		&nbsp;
		<a href="/about">About</a>
	</p>
</footer>
