body {
	--primary-darker: #357;
	--primary-dark: #579;
	--primary-light: #79b;
	--primary-lighter: #bdf;
	--accent: #fc2;
	--danger-dark: #d33;
	--danger-light: #f55;
	--good-dark: #1a1;
	--good-light: #3c3;
	--gs-dark: #111;
	--gs-middle: #888;
	--gs-light: #eee;
	--min-width: 300px;
	--max-width: 1100px;
}

body {
	margin: 0 auto;
	padding: 0;
	background: var(--gs-dark);
	color: var(--gs-dark);
	font-family: sans-serif;
}

/* FORMS */
form label {
	display: block;
	margin: 0.3em;
	padding: 0.3em;
	border-bottom: 2px solid transparent;
}

form label:hover {
	border-bottom-color: var(--primary-dark);
}

form label input {
	display: block;
}

form button[type=submit] {
	display: block;
}

/* GENERAL CLASSES */
.accent-bg {
	background-color: var(--accent);
}

.right {
	float: right;
}

.clear-right {
	clear: right;
}

.alert {
	display: block;
	margin: 0.3em;
	padding: 0.3em;
	border-radius: 0.3em;
	border: 1px solid var(--primary-dark);
	background: var(--primary-light);
	box-shadow: 2px 2px 0 var(--primary-dark);
}

.alert.alert-danger {
	border-color: var(--danger-dark);
	background: var(--danger-light);
	box-shadow: 2px 2px 0 var(--danger-dark);
	font-weight: bold;
}

.center-text {
	text-align: center;
}

.missing {
	color: var(--gs-middle);
	font-style: italic;
}

.danger {
	color: var(--danger-light);
}

.good {
	color: var(--good-light);
}

/* CARDS */
dl.cards-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

dl.cards-list > div {
	flex: 1 0 var(--min-width);
	margin: 0.3em;
	padding: 0;
	border-radius: 0.3em;
	border: 2px solid var(--primary-dark);
}

dl.cards-list dt, dl.cards-list dd {
	margin: 0;
	padding: 0.3em;
}

dl.cards-list dt, dl.cards-list dt a {
	display: block;
	background: var(--primary-dark);
	color: var(--gs-light);
	font-style: italic;
}

/* MISC. */
progress {
	width: 100%;
}

section a {
	color: var(--primary-darker);
	text-decoration: none;
}

section a:hover {
	text-decoration: underline;
}
