div.notifications {
	position: absolute;
	z-index: 1000;
	top: 1em;
	left: calc(50% - var(--min-width) / 4);
	width: calc(var(--min-width) / 2);
	padding: 0.3em;
}

div.notification {
	padding: 0.3em;
	margin: 0.3em;
	background: var(--gs-dark);
	color: var(--gs-light);
	border-radius: 6px;
	box-shadow: 0 0 6px var(--gs-middle);
}
