div.notifications {
	max-width: var(--min-width);
	padding: 0.3em;
	background: var(--primary-light);
	border: 1px solid var(--primary-dark);
	border-radius: 0.3em;
}

div.notification {
	padding: 0.3em;
	margin: 0.3em;
	border-radius: 0.3em;
	background: var(--primary-dark);
	color: var(--gs-light);
}

div.notification:hover {
	background: var(--primary-darker);
}
