<div *ngIf="project">
	<h2>{{ project.name }}</h2>
	<p>
		Created by: <a routerLink="/u/{{ user.username }}">{{ user.username }}</a>
		<a *ngIf="project.belongsTo(currentUser)" routerLink="./edit"><br>&#9881; project settings</a>
	</p>
	
	<h3 *ngIf="project.isSprintAllowedForUser(currentUser)"><a routerLink="./sprint">&#9654; Sprint now</a></h3>
	
	<!--running sprints-->
	<!--upcoming sprints-->

	<h3>Overview</h3>
	<app-project-overview-cards [user]="user" [project]="project"></app-project-overview-cards>

	<h3>History</h3>
	<p *ngIf="project.sprints && project.sprints.length > 0">
		<a *ngIf="project.isSprintAllowedForUser(currentUser)" routerLink="./sprint">Sprint now<br></a>
		Total time spent: {{ project.timeSpent | prettyDuration }} over {{ project.ageInDays }} days<br>
		Average speed: {{ project.wph }} words per hour
	</p>
	<div *ngIf="project.sprints && project.sprints.length > 0" class="sprints-list">
		<div *ngFor="let day of project.sprintsByDate">
			<div class="date-header">
				<div class="date-header-aside"><div class="bar-up"></div><div class="bullet"></div><div class="bar-down"></div></div>
				<div class="date-header-date">
					{{ day.date | date : 'EEEE d MMMM yyyy' }}
					| {{ project.wordsWrittenOn(day.date) }} words
					| {{ project.timeSpentOn(day.date) | prettyDuration }}
				</div>
			</div>
			<div class="sprints-list-component">
				<div class="sprints-list-aside-bar"></div>
				<dl>
					<div *ngFor="let sprint of day.sprints" class="sprint-in-list">
						<div *ngIf="sprint.isMilestone" class="milestone-header">
							Milestone #{{ project.milestoneIndex(sprint) }}
							| {{ project.milestoneWordCount(sprint) }} words
							| {{ project.milestoneTimeSpent(sprint) | prettyDuration }}
						</div>
						<dt *ngIf="sprint.comment">{{ sprint.comment }}</dt>
						<dt *ngIf="!sprint.comment" class="missing">No comment</dt>
						<dd>
							<span><time>{{ sprint.timeStart | date: 'H:mm' }}</time></span>
							<span>{{ sprint.duration }} minutes</span>
							<span>{{ sprint.wordCount }} words</span>
							<span><a routerLink="/s/{{ sprint.slug }}">view</a></span>
						</dd>
					</div>
				</dl>
			</div>
		</div>
	</div>
	<p *ngIf="!project.sprints || project.sprints.length === 0" class="center-text">Nothing yet? <a routerLink="./sprint">Sprint now!</a></p>
	<p class="center-text">Project started on {{ project.dateStart | date : 'EEEE d MMMM yyyy' }} with {{ project.wordCountStart }} words</p>
</div>
